/* HEADER SUPERIOR */
.header-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 10px 20px;
  border-bottom: 1px solid #c0c0c0;
}

.title {
  position: absolute;
  font-size: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  font-weight: bold;
  color: #2c6b7a;
  margin: 0;
}

.logo-left {
  height: 40px;
}

.logo-right {
  height: 40px;
}

.company {
  display: flex;
  align-items: center;
  gap: 10px;
}

.company-name {
  font-weight: bold;
  color: #2c6b7a;
}

.navbar {
  display: flex;
  align-items: center;
  background: #dfe6dd;
  border-bottom: 1px solid #c0c0c0;
  padding: 0 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-item,
.nav-item-trigger {
  border: 0.5px solid #2c6bff;
  background: #f5f8ff;
  color: #2c6bff;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 10px; /* 🔥 más redondeado */
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-item:hover,
.nav-item-trigger:hover {
  background: #2c6bff;
  color: #07c8ab;
}

.nav-item.disabled:hover {
  background: #fff;
}

.nav-left{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* Dropdown Mantenimiento */
.dropdown {
  position: relative;
  padding: 0;
}

.dropdown-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 250px;
  max-width: 300px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
  border-radius: 6px;
  padding: 4px 0;
  z-index: 100;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 10px 14px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  box-sizing: border-box;
}

.dropdown-item:hover {
  background: #f2f2f2;
}

.submenu-panel {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 220px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
  border-radius: 6px;
  padding: 4px 0;
  z-index: 100;
  margin-left: 2px;
}


.dropdown-item.has-submenu {
  position: relative;
  padding-right: 24px;
}

.dropdown-item.has-submenu::after {
  float: right;
  font-size: 12px;
}

.dropdown-item.has-submenu span {
  pointer-events: none;
}

.dropdown-item.has-submenu:hover {
  background: #e8eaf6;
}

.submenu-item {
  display: block;
  padding: 10px 16px;
  color: #1a237e;
  font-size: 13px;
  text-decoration: none;
  white-space: nowrap;
  transition: background 0.2s ease, padding-left 0.2s ease;
}

.submenu-item:hover {
  background: #e8eaf6;
  padding-left: 20px;
}




.nav-user{
  margin-left: auto;
  font-weight: bold;
  color: #2c6b7a;
  padding: 0 20px;
  display: flex;
  align-items: center;
}