<!-- MODAL BUSQUEDA -->
<div class="modal-overlay">

    <div class="modal">
  
      <h2>Búsqueda de Partes</h2>
  
      <!-- FORM FILTROS -->
      <form class="modal-form" (ngSubmit)="handleSearch()">
  
        <div class="form-group">
          <label>Código Parte</label>
          <input type="text" placeholder="Ej: A001" [(ngModel)]="CodiPart" name="codigoParte"/>
        </div>
  
        <div class="form-group">
          <label>Código Máquina</label>
          <input type="text" placeholder="Ej: M001" [(ngModel)]="CodiMaqu" name="codigoMaquina"/>
        </div>
  
        <div class="form-group">
          <label>Tipo Parte</label>
          <input type="number" [(ngModel)]="idTipoPart" name="tipoParte"/>
        </div>
  
        <div class="form-group">
          <label>Nombre Parte</label>
          <input type="text" placeholder="Ej: Filtro" [(ngModel)]="nombreParte" name="nombreParte"/>
        </div>
  
  
        <!-- BOTONES -->
        <div class="modal-actions">
          <button type="submit" class="btn-primary">Buscar</button>
          <button type="button" class="btn-danger" (click)="cerrarModal()">Cerrar</button>
        </div>
      </form>
  
      <!-- TABLA -->
      <div class="modal-table">
  
        <table>
  
          <thead>
            <tr>
              <th>Código</th>
              <th>Tipo</th>
              <th>Máquina</th>
              <th>Nombre</th>
            </tr>
  
            <!-- FILTROS -->
            <tr class="filters-row">
              <th><input type="text" [(ngModel)]="filterCodiPart" />/th>
              <th><input type="text" [(ngModel)]="filterTipoPart" /></th>
              <th><input type="text" [(ngModel)]="filterCodiMaqu" />/th>
              <th><input type="text" placeholder="🔍" /></th>
            </tr>
          </thead>
  
          <tbody>

            <!-- DATOS -->
            <tr *ngFor="let item of results">
              <td>{{ item.CodiPart }}</td>
              <td>{{ item.idTipoParte }}</td>
              <td>{{ item.CodiMaqu }}</td>
              <td>{{ item.NombreParte }}</td>
            </tr>
          
            <!-- SIN DATOS -->
            <tr *ngIf="results.length === 0">
              <td colspan="4" class="no-data">
                No data to display.
              </td>
            </tr>
          
          </tbody>
  
        </table>
  
      </div>
  
    </div>
  
  </div>